.board-container{
    margin-left:50px;
    margin-top:50px;
    display:block;
    float:left;
    
}

#squares-container{
    padding:20px;
    padding-right: 0px;
    margin-left:50px;
    margin-top:0px;
    background-color:#fff;
    grid-template-columns: min-content min-content min-content min-content min-content min-content min-content min-content;
    width:300px;
    /* overflow: auto; */
}

.square{
    border: 1px solid #D3D3D3;
    background: #fff;
    height: 34px;
    width: 34px;
    padding: 0;
    margin-right: -1px;
    margin-top: -1px;
    float: left;
}

.board {
    margin:0;
    background-color:#fff;
    display:grid;
    grid-template-columns: min-content min-content min-content min-content min-content min-content min-content min-content;
}

.grid{
    background: #fff;
    border: 1px solid #D3D3D3;
    height: 34px;
    width: 34px;
    padding: 0;
    /* display: inline-block; */
    margin-right: -1px;
    margin-top: -1px;
    /* float: left; */
}

.chess{
    background: #00f;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: inline-block;
}

.whiteChess{
    background: #D3D3D3;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: inline-block;
}

.blackChess{
    background: #222;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: inline-block;
}

.board-row{
    /* content: ""; */
    /* clear: both; */
    display: table;
}

.river-row{
    background: #fff;
    border: 1px solid #D3D3D3;
    margin-top: -1px;
    height: 34px;
    width: 279px; /* squre-width x 8 + 7 */
}

#info-container {
    background: #fff;
    width: 100px;
    float:left;
    display:inline-block;
    padding:0px;
    overflow: auto;
}

#game-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
    /* overflow-x: scroll; */
    width:500px;
}

.whiteScore{
    color: #D3D3D3;
    font-size:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blackScore{
    color: #222;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#version{
    color: #D3D3D3;
    margin-left: 70px;
}